@charset "UTF-8";

/* Style of body */
body {
	font-family: var(- -bs-font-sans-serif);
	-bs-font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto,
		"Helvetica Neue", Arial, "Noto Sans";
	font-size: 1rem;
	line-height: 1.5;
	color: #212529;
	background-color: #F7D1EE;
}

h2 {
    color: #F41599;
    /*text-align: center; */
}

h4 {
 /*text-align: center; */
 }

p,a { color: #f9076d; }

/* Style of form */
form {

	/*text-align: center; */
}

.field {clear:both; text-align:right; line-height:25px;}
label {float:left; padding-right:10px;}
.main {float:left}

/* Style of table */
table {
    /* расположение заголовка таблицы: */
	caption-side: bottom;
	/* убирает двойные линии на границах ячеек: */
	border-collapse: collapse;
	/* размеры элемента: */
	box-sizing: border-box;
	vertical-align: middle;
	width: 80%;
	margin-bottom: 1rem;
	color: #204a87;
	vertical-align: top;
	border-color: #888a85;
	background-color: #ffffff;

}
hr {
    color: #f9076d;
    background-color: #f9076d;
}

th {
	border: 1px solid #bbc0b8;
	background-color: #f9076d;
	color: #ffffff;
}

td {
	border: 1px solid #bbc0b8;
	text-align: center;
}

/* Style of blinking text */
.blink {
/*    animation-name: animation_blink;
    animation-timing-function: ease-in;
    animation-duration: 1s;
    animation-iteration-count: infinite; */
    color: #f9076d;
}
@keyframes animation_blink {
    0% { opacity: 1; }
    50% { opacity: 0.1; }
    100% { opacity: 1; }
}