<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <link rel="stylesheet" href="css/personsCss.css">
    <link rel="shortcut icon" type="image/x-icon" href="images/T.ico">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <title>SEA Kurs 3.0</title>
    <script src="scripts/persons_script.js" type="module"></script>
</head>

<body>
<h2>SEA: Welle 4</h2>
<hr>
<table class="table table-dark" id="id_tbl001" >
<!--    <caption>List of SEA participants</caption>-->
    <thead id = "id_tbl001_th">
        <tr>
            <th>#</th>
            <th>Id</th>
            <th>Image</th>
            <th>Salutation</th>
            <th>Firstname</th>
            <th>Lastname</th>
            <th>DOB</th>
            <th>Version</th>
        </tr>
    </thead>
    <tbody id = "id_tbl001_tb">

    </tbody>
</table>
<p>Participant's count: <span th:text="${count}"></span></p>
<div class = "button">
    <input type="submit" id="refreshTableButton" name="refreshTableButton" value="Refresh">
    <input type="submit" id="clearTableButton" name="clearTableButton" value="Clear">
</div>

<hr>
<article>
    <h3><span class="blink"><strong>Join us!</strong></span></h3>
    <form id="submit" class="form">
        <div class="main">
            <div class="field">
                <label for="id001">Salutation:</label>
                <select name="salutation" id="id001">
                    <option value="-">-</option>
                    <option value="Mr">Mr</option>
                    <option value="Mrs">Mrs</option>
                    <option value="Miss">Miss</option>
                </select>
            </div>
            <div class="field">
                <label for="id002">Firstname*:     </label>
                <input type="text" id="id002" name="firstnameInputField" required placeholder="Enter your firstname">
            </div>
            <div class="field">
                <label for="id003">Lastname*:  </label>
                <input type="text" id="id003" name="lastnameInputField"  required placeholder="Enter your lastname">
            </div>
            <div class="field">
                <label for="idDOB">DOB*:  </label>
                <input type="date" id="idDOB" name="dobInputField" required>
            </div>
            <div class="field">
                <label for="id004">Id :  </label>
                <input type="text" id="id004" name="idInputField" placeholder="Enter id (for update)">
            </div>
            <div class="field">
                <label for="idVer">Current version:  </label>
                <input type="text" id="idVer" name="idVerInputField" placeholder="Enter version (for update)">
            </div>
            <div class="button">
                <input type="submit" id="addPersonButton" name="addPersonButton" value="Add">
                <input type="submit" id="updatePersonButton" name="updatePersonButton" value="Update">
            </div>
            <p>* - mandatory field</p>
        </div>
    </form>
</article>
<br><br><br><br><br><br><br><br><br><br><hr>
<article>
    <form id="deletePerson" class="form">
        <div class="main">
            <div class="field">
                <label for="id005">Id:     </label>
                <input type="text" id="id005" name="idInputField">
            </div>
            <div class="button">
                <input type="submit" id="deletePersonButton" name="deletePersonButton" value="Delete">
            </div>
        </div>
    </form>
</article>
<br><br><hr>
<article>
    <h3><strong>Links</strong></span></h3>
    <footer>
        <ul>
            <li><a href='http://localhost:8080/count'>Person's count</a></li></li>
            <li><a href='http://localhost:8080/json/persons/all'>All persons (json format)</a></li></li>
        </ul>
    </footer>
</article>
<hr>

</body>
</html>